<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jack.bdvoicedemo">

    <uses-permission android:name="android.permission.RECORD_AUDIO" ></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" ></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" ></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- begin: baidu speech sdk-->
        <!-- 请填写应用实际的APP_ID -->
        <meta-data android:name="com.baidu.speech.APP_ID" android:value="8555043"/>
        <!-- 请填写应用实际的API_KEY -->
        <meta-data android:name="com.baidu.speech.API_KEY" android:value="pemXE0xE2dl4icmdYHGfd0ew"/>
        <!-- 请填写应用实际的SECRET_KEY -->
        <meta-data android:name="com.baidu.speech.SECRET_KEY" android:value="c9bd64831474fd0736f027dbbcf45d42"/>
        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" ></service>


        <activity
            android:name="com.baidu.voicerecognition.android.ui.BaiduASRDigitalDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.action.RECOGNIZE_SPEECH" ></action>
                <category android:name="android.intent.category.DEFAULT" ></category>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>